#title {
  background-color: #222831;
  color: #fff;
}

/* Specify again */
/* a {
  font-size: 3rem;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.3rem;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

body {
  font-family: "Montserrat";
}

/* heading */
.big-heading {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

/* navigation bar*/

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
}

/* title image */
.title-image {
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.5);
  width: 110%;
  transform: rotate(10deg);
  position: absolute;
  left: 5%;
  right: 10%;
  border-radius: 20%;
}

/* data */
#data {
  padding: 5% 10%;
  text-align: center;
  background-color: #eeeeee;
  position: relative;
  /* z-index: 1; */
}

.data-heading {
  font-size: 2.8rem;
  line-height: 1.5;
  padding-top: 10%;
  color: #222831;
}

.data-container {
  padding-bottom: 5%;
}

.approach-p {
  font-size: 1.4rem;
}

.feature-box {
  padding: 7% auto 7% auto;
}

.icon {
  color: #393e46;
  margin-bottom: 10px;
}

.icon:hover {
  color: #00adb5;
}

/* <!-- Testimonials --> */
#cities {
  text-align: center;
  background-color: #393e46;
  color: #fff;
}

.city-image {
  width: 700px;
  height: 500px;
  border-radius: 10%;
  margin: 20px 20px 5px;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.5);
}

.carousel-item {
  padding: 7% 15%;
}

.city-name {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

/* insights */
#insights {
  background-color: #eeeeee;
  padding: 7% 10%;
}

.insight-image {
  width: 30%;
  margin: 5px 10px 20px;
}

.insight-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.insight-p {
  font-size: 1.5rem;
  color: #222831;
  padding-top: 15px;
}

/* foot */
#footer {
  padding: 2% 5%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

/* =======================pattern page======================= */
.pattern-title {
  text-align: center;
  padding-bottom: 20px;
}

.pattern-title2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 5px;
}

#map {
  margin: 0px;
  padding: 7% auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 600px;
  border-radius: 5%;
}

.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.second-title {
  padding-top: 0px;
  font-size: 20px;
  text-align: right;
  color: rgba(255, 255, 255, 0.8);
}

.left-3d {
  width: 100%;
  height: 500px;
  border-radius: 10%;
  margin: 20px 20px 5px;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.5);
}
/* spatial page */

.navbar-spatial {
  padding: 0 0 2.5rem 0;
}

.time-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
}

.time-font {
  max-width: 560px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 2;
  color: #222;
  font-family: "Montserrat", Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.choose-time {
  margin-top: 30px;
  padding: 10px;
  background: #76b3fa;
  border-radius: 80px;
  padding: 10px 40px;
  color: #222831;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 120;
  margin: 0 5px;
}

/* Hover state animation applied here */
.choose-time:hover {
  -webkit-animation: hover 1200ms linear 2 alternate;
  animation: hover 1200ms linear 2 alternate;
}

/* Active state animation applied here */
.choose-time:active {
  -webkit-animation: active 1200ms ease 1 alternate;
  animation: active 1200ms ease 1 alternate;
  background: #5f9be0;
}
.gray {
  background: #d2d2d2;
}
.gray:active {
  background: #b9b9b9;
}

/* Active state animation keyframes below */

@-webkit-keyframes active {
  0% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(0.9, 0.88);
  }
  100% {
    transform: scale(0.92, 0.9);
  }
}

keyframes active {
  0% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(0.9, 0.88);
  }
  100% {
    transform: scale(0.92, 0.9);
  }
}

/* Hover state animation keyframes below */

@-webkit-keyframes hover {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  1.8% {
    -webkit-transform: matrix3d(
      1.016,
      0,
      0,
      0,
      0,
      1.037,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.016, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.5% {
    -webkit-transform: matrix3d(
      1.033,
      0,
      0,
      0,
      0,
      1.094,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.033, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    -webkit-transform: matrix3d(
      1.045,
      0,
      0,
      0,
      0,
      1.129,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.045, 0, 0, 0, 0, 1.129, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  5.31% {
    -webkit-transform: matrix3d(
      1.051,
      0,
      0,
      0,
      0,
      1.142,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.051, 0, 0, 0, 0, 1.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  7.01% {
    -webkit-transform: matrix3d(
      1.068,
      0,
      0,
      0,
      0,
      1.158,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.068, 0, 0, 0, 0, 1.158, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.91% {
    -webkit-transform: matrix3d(
      1.084,
      0,
      0,
      0,
      0,
      1.141,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.084, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    -webkit-transform: matrix3d(
      1.088,
      0,
      0,
      0,
      0,
      1.132,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.088, 0, 0, 0, 0, 1.132, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.71% {
    -webkit-transform: matrix3d(
      1.097,
      0,
      0,
      0,
      0,
      1.107,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.61% {
    -webkit-transform: matrix3d(
      1.108,
      0,
      0,
      0,
      0,
      1.077,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.108, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    -webkit-transform: matrix3d(
      1.114,
      0,
      0,
      0,
      0,
      1.067,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.114, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.41% {
    -webkit-transform: matrix3d(
      1.115,
      0,
      0,
      0,
      0,
      1.067,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.115, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  16.32% {
    -webkit-transform: matrix3d(
      1.119,
      0,
      0,
      0,
      0,
      1.077,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.119, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.12% {
    -webkit-transform: matrix3d(
      1.121,
      0,
      0,
      0,
      0,
      1.096,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    -webkit-transform: matrix3d(
      1.121,
      0,
      0,
      0,
      0,
      1.102,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  20.02% {
    -webkit-transform: matrix3d(
      1.121,
      0,
      0,
      0,
      0,
      1.113,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.82% {
    -webkit-transform: matrix3d(
      1.119,
      0,
      0,
      0,
      0,
      1.119,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.119, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    -webkit-transform: matrix3d(
      1.115,
      0,
      0,
      0,
      0,
      1.11,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.115, 0, 0, 0, 0, 1.11, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.53% {
    -webkit-transform: matrix3d(
      1.113,
      0,
      0,
      0,
      0,
      1.102,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.113, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.23% {
    -webkit-transform: matrix3d(
      1.106,
      0,
      0,
      0,
      0,
      1.089,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.106, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    -webkit-transform: matrix3d(
      1.105,
      0,
      0,
      0,
      0,
      1.09,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    -webkit-transform: matrix3d(
      1.098,
      0,
      0,
      0,
      0,
      1.105,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.098, 0, 0, 0, 0, 1.105, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.64% {
    -webkit-transform: matrix3d(
      1.097,
      0,
      0,
      0,
      0,
      1.106,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    -webkit-transform: matrix3d(
      1.096,
      0,
      0,
      0,
      0,
      1.099,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.096, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.04% {
    -webkit-transform: matrix3d(
      1.096,
      0,
      0,
      0,
      0,
      1.097,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.096, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  51.45% {
    -webkit-transform: matrix3d(
      1.099,
      0,
      0,
      0,
      0,
      1.102,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    -webkit-transform: matrix3d(
      1.099,
      0,
      0,
      0,
      0,
      1.102,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  58.86% {
    -webkit-transform: matrix3d(
      1.101,
      0,
      0,
      0,
      0,
      1.099,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    -webkit-transform: matrix3d(
      1.101,
      0,
      0,
      0,
      0,
      1.1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  66.27% {
    -webkit-transform: matrix3d(
      1.101,
      0,
      0,
      0,
      0,
      1.101,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  73.77% {
    -webkit-transform: matrix3d(
      1.1,
      0,
      0,
      0,
      0,
      1.1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  81.18% {
    -webkit-transform: matrix3d(
      1.1,
      0,
      0,
      0,
      0,
      1.1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    -webkit-transform: matrix3d(
      1.1,
      0,
      0,
      0,
      0,
      1.1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  88.59% {
    -webkit-transform: matrix3d(
      1.1,
      0,
      0,
      0,
      0,
      1.1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  96% {
    -webkit-transform: matrix3d(
      1.1,
      0,
      0,
      0,
      0,
      1.1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(
      1.1,
      0,
      0,
      0,
      0,
      1.1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes hover {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  1.8% {
    -webkit-transform: matrix3d(
      1.016,
      0,
      0,
      0,
      0,
      1.037,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.016, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.5% {
    -webkit-transform: matrix3d(
      1.033,
      0,
      0,
      0,
      0,
      1.094,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.033, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    -webkit-transform: matrix3d(
      1.045,
      0,
      0,
      0,
      0,
      1.129,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.045, 0, 0, 0, 0, 1.129, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  5.31% {
    -webkit-transform: matrix3d(
      1.051,
      0,
      0,
      0,
      0,
      1.142,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.051, 0, 0, 0, 0, 1.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  7.01% {
    -webkit-transform: matrix3d(
      1.068,
      0,
      0,
      0,
      0,
      1.158,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.068, 0, 0, 0, 0, 1.158, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.91% {
    -webkit-transform: matrix3d(
      1.084,
      0,
      0,
      0,
      0,
      1.141,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.084, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    -webkit-transform: matrix3d(
      1.088,
      0,
      0,
      0,
      0,
      1.132,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.088, 0, 0, 0, 0, 1.132, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.71% {
    -webkit-transform: matrix3d(
      1.097,
      0,
      0,
      0,
      0,
      1.107,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.61% {
    -webkit-transform: matrix3d(
      1.108,
      0,
      0,
      0,
      0,
      1.077,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.108, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    -webkit-transform: matrix3d(
      1.114,
      0,
      0,
      0,
      0,
      1.067,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.114, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.41% {
    -webkit-transform: matrix3d(
      1.115,
      0,
      0,
      0,
      0,
      1.067,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.115, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  16.32% {
    -webkit-transform: matrix3d(
      1.119,
      0,
      0,
      0,
      0,
      1.077,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.119, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.12% {
    -webkit-transform: matrix3d(
      1.121,
      0,
      0,
      0,
      0,
      1.096,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    -webkit-transform: matrix3d(
      1.121,
      0,
      0,
      0,
      0,
      1.102,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  20.02% {
    -webkit-transform: matrix3d(
      1.121,
      0,
      0,
      0,
      0,
      1.113,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.82% {
    -webkit-transform: matrix3d(
      1.119,
      0,
      0,
      0,
      0,
      1.119,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.119, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    -webkit-transform: matrix3d(
      1.115,
      0,
      0,
      0,
      0,
      1.11,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.115, 0, 0, 0, 0, 1.11, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.53% {
    -webkit-transform: matrix3d(
      1.113,
      0,
      0,
      0,
      0,
      1.102,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.113, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.23% {
    -webkit-transform: matrix3d(
      1.106,
      0,
      0,
      0,
      0,
      1.089,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.106, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    -webkit-transform: matrix3d(
      1.105,
      0,
      0,
      0,
      0,
      1.09,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    -webkit-transform: matrix3d(
      1.098,
      0,
      0,
      0,
      0,
      1.105,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.098, 0, 0, 0, 0, 1.105, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.64% {
    -webkit-transform: matrix3d(
      1.097,
      0,
      0,
      0,
      0,
      1.106,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    -webkit-transform: matrix3d(
      1.096,
      0,
      0,
      0,
      0,
      1.099,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.096, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.04% {
    -webkit-transform: matrix3d(
      1.096,
      0,
      0,
      0,
      0,
      1.097,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.096, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  51.45% {
    -webkit-transform: matrix3d(
      1.099,
      0,
      0,
      0,
      0,
      1.102,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    -webkit-transform: matrix3d(
      1.099,
      0,
      0,
      0,
      0,
      1.102,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  58.86% {
    -webkit-transform: matrix3d(
      1.101,
      0,
      0,
      0,
      0,
      1.099,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    -webkit-transform: matrix3d(
      1.101,
      0,
      0,
      0,
      0,
      1.1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  66.27% {
    -webkit-transform: matrix3d(
      1.101,
      0,
      0,
      0,
      0,
      1.101,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  73.77% {
    -webkit-transform: matrix3d(
      1.1,
      0,
      0,
      0,
      0,
      1.1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  81.18% {
    -webkit-transform: matrix3d(
      1.1,
      0,
      0,
      0,
      0,
      1.1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    -webkit-transform: matrix3d(
      1.1,
      0,
      0,
      0,
      0,
      1.1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  88.59% {
    -webkit-transform: matrix3d(
      1.1,
      0,
      0,
      0,
      0,
      1.1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  96% {
    -webkit-transform: matrix3d(
      1.1,
      0,
      0,
      0,
      0,
      1.1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(
      1.1,
      0,
      0,
      0,
      0,
      1.1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

/* spatial clustering page */
.voronoi {
  font-size: 1.4rem;
  text-align: center;
  padding-top: 3%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
